@import "tailwindcss";

@layer base {
  :root {
    /* ### Primary */
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* ### Neutral */
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
  }

  html,
  body {
    width: 100%;
    overflow-x: clip;
  }

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  section {
    padding: 6% 0;
    scroll-margin-top: 100px;
  }

  p {
    color: var(--Grayish-Blue);
    line-height: 29px;
  }

  h1 {
    /* font-size: 3rem; */
    color: var(--Dark-Blue);
  }

  h2 {
    font-size: 2rem;
    color: var(--Dark-Blue);
  }

  h3 {
    color: var(--Dark-Blue);
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
}

@layer components {
  .wrapper {
    width: 85%;
    margin: auto;
  }

  .icons > img {
    filter: brightness(6);
  }

  .socials img {
    margin-right: 10px;
  }

  .socials a:last-child img {
    margin-right: 0px;
  }

  .socials img:hover {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(104deg) brightness(89%) contrast(119%);
  }

  .overmenu {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 3;
    background: linear-gradient(180deg, rgba(45, 49, 77, 1) 0%, rgba(0, 212, 255, 0) 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .slideIn {
    transform: translateY(150px);
  }

  .fadeIn {
    opacity: 1;
    visibility: visible;
  }

  .attribution {
    font-size: 12px;
    color: var(--Very-Light-Gray);
  }
}
