:root {
  /* ### Primary */

  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 /*  outline: 1px solid red; */
}

html {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  /* - Weights: 300, 400, 700 */
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  /* overflow-x: hidden; */
}

.wrapper {
  width: 85%;
  margin: auto;
}

header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 20;
  background-color: white;
}

header .wrapper{
  display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

section {
  /*  min-height: 700px; */
  width: 100vw;
  padding: 10% 0;
}

p {
  color: var(--Grayish-Blue);
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--Dark-Blue);
}

h2 {
  font-size: 2rem;
  color: var(--Dark-Blue);
}

h3 {
  color: var(--Dark-Blue);
}

button {
  padding: 10px 20px;
  border-radius: calc(infinity * 1px);
  border: none;
  background: linear-gradient(
    90deg,
    hsl(136, 65%, 51%) 0%,
    hsl(192, 70%, 51%) 100%
  );
  color: white;
  cursor: pointer;
}

nav a {
  color: var(--Grayish-Blue);
  padding: 32px;
}

nav a:hover{
  border-bottom: 3px solid red;
}

/* hero section */

#hero {
  height: 745px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
}

.call2action {
  max-width: 500px;
  margin-left: 8%;
}

.call2action p {
  margin: 30px 0;
}

.phones {
  background-image: url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position-y: -208px;
  background-position-x: 132px;
  width: 50%;
  height: 100%;
}

#hero img {
  position: absolute;
  right: -132px;
  bottom: -20px;
  z-index: 2;
  top: -23px;
}

/* why-choose-us section */

#why-choose-us {
  background-color: var(--Light-Grayish-Blue);
  position: relative;
  /* padding: 150px; */
  z-index: 0;
  width: 100%;
}

#why-choose-us .wrapper p:nth-child(2) {
  margin-bottom: 50px;
  margin-top: 20px;
}
.container {
  /* display: grid;
  grid-template-columns: repeat(4, 25%); */
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

/* blog section */

#blog {
  background-color: var(--Very-Light-Gray);
}

.article-container {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
}

.img-ratio {
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.article img {
  width: 100%;
  height: auto; /* Keeps aspect ratio */
  max-width: 100%; /* Prevents it from exceeding its original size */
}

.article-text {
  padding: 20px;
  background-color: var(--White);
}

.article-text h4 {
  margin: 20px 0;
  color: var(--Dark-Blue);
}

footer {
  background-color: var(--Dark-Blue);
  padding: 50px 0;
}

footer .wrapper {
  /*  display: flex;
  align-items: flex-start;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.icons > img {
  background-color: aliceblue;
}

.footer-nav {
  display: flex;
  gap: 39%;
  line-height: 41px;
}

.footer-nav ul {
  display: inline;
}

.footer-nav a {
  color: var(--Very-Light-Gray);
}
footer .wrapper .invite {
  justify-self: end;
}

.invite button {
  margin-bottom: 20px;
}
